.dnd5e2.sheet.actor.character .sheet-body .pill-lg.texture.transformation {
    background: url("Templates/img/transformation.png") no-repeat right, var(--pill-background-color);
    background-size: contain;
    transition: box-shadow 200ms ease;
}

.dnd5e2.sheet.actor.character .sheet-body .pill-lg.transformation:hover:not(:has(a:hover)) {
    box-shadow: 0 0 12px 0 var(--dnd5e-color-gold);
}
.pill-lg.transformation {
    cursor: help;
  }

.dnd5e2.sheet.actor.character .sheet-body .pill-lg .transformation-stage-select {
    width: fit-content;
    height: unset;
    font-size: var(--font-size-11);
    min-width: 8ch;
}