.dnd5e2.sheet.actor.character .sheet-body .pill-lg.texture.transformation {
    background: url("templates/img/transformation.png") no-repeat right, var(--pill-background-color);
    background-size: contain;
    transition: box-shadow 200ms ease;
}

.dnd5e2.sheet.actor.character .sheet-body .pill-lg.transformation:hover:not(:has(a:hover)) {
    box-shadow: 0 0 12px 0 var(--dnd5e-color-gold);
}

.dnd5e2.sheet.actor.character .sheet-body .pill-lg .transformation-stage-select {
    width: fit-content;
    height: unset;
    font-size: var(--font-size-11);
    min-width: 8ch;
}

.choice-description-container {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 0.5rem;
}

.choice-radio-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.choice-radio {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.choice-wrapper {
    text-align: center;
    display:flex;
    justify-content: center;
}