<div class="item-info-container">

    <div class="item-icon">
        <img src="{{icon}}" alt="{{name}}" />
    </div>

    <div class="item-title">
        <h2>{{name}}</h2>
    </div>

    <div class="item-description">
        {{{description}}}
    </div>

    <div class="item-actions">
        <button type="button" data-action="continue">
            Continue
        </button>
    </div>

</div>