<form autocomplete="off" onsubmit="event.preventDefault();">
	<ol class="choices-list">
	   {{#each choices as |choice name|}}
		<li class="choice flexrow">
			<div class="choice-name flexrow">
				<div class="choice-image" style="background-image: url('{{choice.icon}}')"></div>
				<h3>{{choice.name}}</h3>
			</div>
			<div class="choice-controls flexrow">
				<input name="type" type="radio" value="{{name}}">
			</div>
			<div class="choice-hint notes">
				{{choice.hint}}
			</div>
		</li>
	    {{/each}}
	</ol>

	<button type="submit" data-action="save">
		choose
	</button>
</form>