<div class="transformation-config-wrapper">
    <section class="flexcol transformation-config">
        <div class="final-value">{{ preview }}</div>
        <fieldset class="card">
            <select name="transformation" style="padding: 0.2em 2.5em 0.2em 0.75em; min-width: 28ch; line-height: 1.4; margin: 0em 1em 0em 2em;">
                <option {{#unless ../editable}}disabled{{/unless}} value="">none</option>
                {{#each transformations as |t|}}
                    <option {{#if t.selected}}selected{{/if}} {{#unless ../editable}}disabled{{/unless}} value="{{t.uuid}}">{{t.name}}</option>
                {{/each}}
            </select>
        </fieldset>
    </section>
    
    <footer class="sheet-footer">
        {{#if editable}}
        <button type="submit" data-action="save">
            Apply
        </button>
        {{else}}
        <p class="notes">You do not have permission to edit this.</p>
        {{/if}}
    </footer>
</div>