<nav class="dnd5e2 expand-down themed theme-dark dnd5e-context-menu" role="menu">
    <ol class="context-items">
        {{#each options}}
        <li class="context-item" data-action="{{this.id}}" role="menuitem">
            {{{this.icon}}}
            <span class="context-label">{{this.name}}</span>
        </li>
        {{/each}}
    </ol>
</nav>